*.log
*.prev
*.prev
*.json
*.log
*.json
*.prev
*.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/Testing/Temporary/LastTest.log
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/CMakeCache.txt.prev
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-NeonAscent-Debug-caff9178ea01db62e5a1.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2026-06-11T19-08-39-0464.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-735a6bb1251e16e7e619.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-NeonAscentv1-Debug-e6386feeb937d49fcd23.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/index-2026-06-11T17-58-51-0716.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/directory-.-Debug-dfba01bdd970f5cbc8e4.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/codemodel-v2-81b111ac4675cf2481d4.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/cmakeFiles-v1-e9f89653bc26a2cb0d83.json
NeonAscentv1/build/Desktop_Qt_6_11_1_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/cache-v2-dc895c9237f8c0b43177.json
*.log
*.prev
*.json
*.log
*.json
*.prev
